# Large database files
*.mdb
*.accdb
*.db
choroby/*.mdb
choroby/*.accdb
choroby/*.db

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# OS
.DS_Store
.vscode/
SUM_2015-03-19.mdb
*.mdb
SUM_2015-03-19.mdb
