# Large database files
choroby/*.mdb
choroby/*.accdb
choroby/*.db

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# OS
.DS_Store
.vscode/
